body{

  background-image: url(docimg.jpg);
  background-attachment: fixed;
  background-size: 100%;
  background-size: cover;
  
  
  
}



.container1
{
  text-align: center;
  color:white;
  padding-top: 20px;
}
.highlighted-word
{
  color: red;
}

.highlighted-word-1
{
  color: black;
}
.vid-head
{
  padding-left: 35px;
  padding-top: 10px;
  color: white;
}
.video1
{
  padding-left: 45px;
  padding-top: 40px;

  
}

#gallery-head
{
  text-align: center;
}

div.gallery {
  border: 1px solid white;
}

div.gallery:hover {
  border: 1px solid red;
  transition: transform 0.3s ease;
   display: block; 
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
  color: black;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}


.expo
{
  text-align: center;
  
}

.download
{
  padding-top:20px;
  text-align: center;
}

.container {
  height: 200px;
  position: relative;
  
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-left: 45%;
}

.copyrights
{
  text-align: center;
  padding-top: 10px;
  color: red;
}
@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}