body
{
    background-image: url(Q&a.jpg);
    background-attachment: fixed;
    background-size: 100%;
    background-size: cover;
    background-blend-mode: var(#000);
}

.test
{
    text-align: center;
    padding-top: 15%;
}

.highlighted-word
{
    color: #f9004d;
}

.contact-me{
	width: 100%;
	height: 290px;
	
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.contact-me p{
	color: white;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 25px;
}
.contact-me .button-two{
	background-color:#f9004d;
	color: rgb(252, 251, 251);
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
}
.contact-me .button-two:hover{
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
}